main {
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 5px 5px 20px 3px var(--shadow-dark);
}

.main-container {
  width: 95%;
}

/* Post */
.post-box {
  width: 50%;
  padding: 10px 30px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.user-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  background-color: var(--background-color);
  margin-right: 10px;
}

.post-box .btn-primary {
  background-color: var(--background-color);
  color: var(--text-color);
}

.post-box .btn-primary:hover {
  background-color: var(--primary-light);
}
/* Search */
.search-box {
  position: relative;
  width: 60%;
}

.search-input {
  width: 100%;
  padding: 12px 15px;
  padding-left: 40px;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  background-color: var(--primary-light);
  transition: 0.3s;
}

.search-input::placeholder {
  color: #bbb;
  font-style: italic;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-hover);
  font-size: 18px;
  transition: 0.3s;
}

.search-box:hover .search-icon {
  transform: translateY(-50%) scale(1.1);
}

/* Danh sach cac tu khoa noi bat */
.keyword-container {
  margin: 20px auto;
}

.keyword-container h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.keyword-box .keyword-item {
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  will-change: transform;
}

.keyword-box .keyword-item:hover {
  transform: scale(1.1);
}

.keyword-box .keyword-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 3px;
  border-radius: 3px;
  background-color: var(--primary-hover);
  transition: all 0.5s ease-out;
  transform: translateX(-50%);
}

.keyword-box .keyword-item:hover::after {
  width: 60%;
}

/* News */
.news-list {
  padding: 0px 30px;
}

.news-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0px;
}

.news-item {
  width: 100%;
  height: 200px;
  border-bottom: 2px solid var(--border-color);
}

.news-item:hover {
  background-color: var(--border-color);
}

.news-content-box {
  padding: 5px;
}

.author-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}

.news-title {
  font-size: 20px;
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
  cursor: pointer;
}

.news-title:hover {
  color: var(--primary-hover) !important;
  transform: translateX(3px);
}
