<header
  class="header container-fluid bg-light shadow-sm d-flex align-items-center justify-content-between"
>
  <div
    class="container-fluid d-flex justify-content-between align-items-center"
  >
    <!-- Logo -->
    <div class="logo-container">
      <a
        href="../page/home.html"
        class="text-decoration-none d-flex align-items-center gap-2"
      >
        <img
          class="logo-img rounded-circle"
          src="../assets/logo.png"
          alt="logo"
          width="50"
          height="50"
        />
        <h1
          class="fw-bold d-none d-sm-block"
          style="color: var(--primary-color)"
        >
          Risk Chance
        </h1>
      </a>
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <div class="d-lg-none">
          <div class="menu-container dropdown w-100">
            <button
              class="menu-dropdown d-flex"
              type="button"
              id="mobileMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-house"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="mobileMenuButton">
              <li>
                <a class="dropdown-item fw-bold active" href="../page/home.html"
                  >Home</a
                >
              </li>
              <li>
                <a class="dropdown-item fw-bold" href="../page/startup.html"
                  >Startup</a
                >
              </li>
              <li>
                <a class="dropdown-item fw-bold" href="../page/news.html"
                  >News</a
                >
              </li>
              <li><a class="dropdown-item fw-bold" href="#about">About</a></li>
            </ul>
          </div>
        </div>

        <!-- Menu ngang cho desktop (màn hình lg trở lên) -->
        <div class="d-none d-lg-block w-100">
          <ul
            class="navbar-nav d-flex flex-row gap-3 justify-content-center w-100"
          >
            <li class="nav-item">
              <a class="nav-link fw-bold active" href="../page/home.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="../page/startup.html"
                >Startup</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="../page/news.html">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="#about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Tài khoản và các chức năng cần thiết -->
    <div class="d-flex align-items-center justify-content-between p-2">
      <!-- Dropdown menu khi thu nhỏ -->
      <div class="dropdown d-lg-none">
        <button
          class="btn btn-primary text-light d-flex align-center"
          type="button"
          id="menuDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa-solid fa-bars fs-4"></i>
        </button>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="menuDropdown"
        >
          <li>
            <button
              type="button"
              class="dropdown-item text-dark position-relative"
              data-bs-toggle="modal"
              data-bs-target="#messengerModal"
            >
              <i class="fa-brands fa-signal-messenger"></i> Messenger
              <span
                id="msgBadge"
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger d-none"
              ></span>
            </button>
          </li>
          <li>
            <button
              type="button"
              class="dropdown-item text-dark position-relative"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-bell"></i> Notifications
              <span
                id="notifBadge"
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger d-none"
              ></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" id="notifDropdown">
              <li><h5 class="h5 fw-bold">Thông báo</h5></li>
            </ul>
          </li>
          <li>
            <a href="#" class="dropdown-item text-dark">
              <i class="fa-solid fa-pen"></i> Create Post
            </a>
          </li>
          <li>
            <a href="#" class="dropdown-item">
              <i class="fa-solid fa-chart-line"></i> Dashboard
            </a>
          </li>
        </ul>
      </div>

      <!-- Các icon chỉ hiện trên màn hình lớn -->
      <div class="d-none d-lg-flex align-items-center gap-3">
        <button
          type="button"
          class="text-dark position-relative btn btn-light"
          data-bs-toggle="modal"
          data-bs-target="#messengerModal"
        >
          <i class="fa-brands fa-signal-messenger fs-4"></i>
          <span
            id="msgBadge"
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger d-none"
          ></span>
        </button>

        <div class="notification dropdown">
          <button
            type="button"
            class="text-dark position-relative btn btn-light"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-bell fs-4"></i>
            <span
              id="notifBadge"
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger d-none"
            ></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" id="notifDropdown">
            <li><h5 class="h5 fw-bold">Thông báo</h5></li>
          </ul>
        </div>

        <button href="#" class="text-dark btn btn-light" id="postIcon">
          <i class="fa-solid fa-pen fs-4"></i>
        </button>

        <button class="btn btn-primary fw-bold">Dashboard</button>
      </div>

      <!-- Thong tin ca nhan -->
      <div
        class="account-container d-flex align-items-center justify-content-center"
      >
        <!-- Nếu chưa đăng nhập -->
        <!-- <a
          id="signInBtn"
          class="signIn-btn text-white fw-bold btn btn-primary d-flex align-items-center justify-content-center"
          href="../page/login.html"
        >
          Sign In
        </a> -->

        <!-- Nếu đã đăng nhập -->
        <div id="userDropdown" class="dropdown">
          <button
            class="btn dropdown-toggle d-flex align-items-center"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              id="userAvatar"
              src="../assets/user/tri lor.jpg"
              alt="User Avatar"
              class="user-img rounded-circle me-2"
            />
            <span id="userName" class="d-none d-md-block">User Name</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="../page/profile.html">
                <i class="fa-solid fa-user me-2"></i> Profile
              </a>
            </li>
            <li>
              <a class="dropdown-item text-danger" href="../page/login.html">
                <i class="fa-solid fa-sign-out-alt me-2"></i> Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
