<!-- Popup Messenger -->
<div
  class="modal fade"
  id="messengerModal"
  tabindex="-1"
  aria-labelledby="messengerModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="messengerModalLabel">Messenger</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ul class="list-group" id="msgList">
          <!-- Tin nhắn sẽ được thêm bằng JavaScript -->
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>
