<link rel="stylesheet" href="../style/userInfo.css" />

<div class="container mt-4">
  <div class="card user-card">
    <img src="../assets/user/tri lor.jpg" alt="Ảnh đại diện" />
    <div class="user-info">
      <h5 id="userName">Nguyễn Văn A</h5>
      <p id="userEmail">
        <i class="fas fa-envelope"></i> nguyenvana@example.com
      </p>
      <p id="userRole"><i class="fas fa-user-tag"></i> Nhà đầu tư</p>
      <button class="btn btn-primary contact-btn">
        <i class="fas fa-comments"></i> Liên hệ
      </button>
    </div>
  </div>
</div>
